apiVersion: "kubeadm.k8s.io/v1beta2"
kind: ClusterConfiguration
etcd:
    local:
        serverCertSANs:
        - "{{ target_host }}"
        peerCertSANs:
        - "{{ target_host }}"
        extraArgs:
            initial-cluster: {{ initial_cluster }}
            initial-cluster-state: new
            name: {{ target_host }}
            listen-peer-urls: https://{{ hostvars.get(target_host).get('private_ip') }}:2380
            listen-client-urls: https://{{ hostvars.get(target_host).get('private_ip') }}:2379
            advertise-client-urls: https://{{ target_host }}:2379
            initial-advertise-peer-urls: https://{{ hostvars.get(target_host).get('private_ip') }}:2380
