apiVersion: "kubeadm.k8s.io/v1beta2"
kind: ClusterConfiguration
etcd:
    local:
        serverCertSANs:
        - "{{ hostname }}"
        peerCertSANs:
        - "{{ hostname }}"
        extraArgs:
            initial-cluster: {{ initial_cluster }}
            initial-cluster-state: {{ cluster_state }}
            name: {{ hostname }}
            listen-peer-urls: https://{{ private_ip }}:2380
            listen-client-urls: https://{{ private_ip }}:2379
            advertise-client-urls: https://{{ hostname }}:2379
            initial-advertise-peer-urls: https://{{ hostname }}:2380
